.cache
.cargo
.config~/go/telemetry/local
.docker
.dotnet/corefx/cryptography/crls
.gnome/apps
.landscape
.local/bin
.local/opt
.local/share/CMakeTools
.local/share/doc/blesh
.local/share/icons/hicolor
.local
.local
.config/go/telemetry/local
.config/htop
.config/lazygit
.config/menus/applications-merged
.npm
.npm-global
test.sh
package-lock.json
go
.zsh_history
.zcompdump-FoxoComputer-5.9.zwc
.zcompdump-FoxoComputer-5.9
.zcompdump
.wget-hsts
.sudo_as_admin_successful
.python_history
.rustup
.vscode-server
snap
.Xauthority
.bash_history
.bash_logout
.bootdev.yaml
.lesshst
.motd_shown
.npmrc
.oh-my-zsh
